DATABASE_URL="postgresql://user:password@localhost:5432/1337_transfer_tracker"
FORTY_TWO_CLIENT_ID="your-42-client-id"
FORTY_TWO_CLIENT_SECRET="your-42-client-secret"
CRON_SECRET="your-cron-secret"
SYNC_MODE="campus"
ACHIEVEMENT_ID=""
